.clients_main {
  > h3 > span {
    color: #e51a4b;
  }
}
.imgs {
    overflow-x: auto;
    width: 93%;
    margin-left: 3%;
  > .img_con {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    gap: 3rem;
    animation: move 10s linear infinite;
    > .cimg {
      /* width: 100px; */
      height: 50px;
      object-fit: cover;
    }
  }
}
.imgs::-webkit-scrollbar{
    display: none;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
